.button{
    background-color:#4eb5f1;
    color:#fff;
    text-align: center;
    display:inline-block;
    border-radius: 5%;
    height:30px;
    width:150px;
    margin:0 0.3em 0.3em 0;
    border-color:white;
    font-weight: 400;
    transition: 0.5s;
    box-sizing: border-box;
    text-decoration:none;
    border-style: none;
    
}
.button:hover{
    background-color:#4095c6;
}
.react-chatbot-kit-chat-container{
    width: 295px;
    position: relative;
    left: 48rem;
    bottom: 31.7rem;
    zoom: .94;
}

.chatbot{
    height: .1px;
    position: relative;
    margin: none;
}

.react-chatbot-kit-chat-bot-message{
    margin-left:none;
    padding: 1rem;
}

.react-chatbot-kit-chat-bot-avatar-letter{
    color: #4eb5f1;
    margin-top: 40%;
}

.react-chatbot-kit-chat-bot-avatar-container{
    background-color: #e7e7e7;
}

/*Responsiveness Below*/

@media only screen and (max-width: 802px) {
    .react-chatbot-kit-chat-container{
        width: 400px;
        position: relative;
        left: 15rem;
        bottom: 34.3em;
        zoom: .85;

    }

    .react-chatbot-kit-chat-bot-message{
        right: 120px;
    }
    
}



@media only screen and (max-width: 720px) {
    .react-chatbot-kit-chat-container{
        width: 400px;
        position: relative;
        left: 14rem;
        bottom: 34.3em;
        zoom: .85;

    }

    .react-chatbot-kit-chat-bot-message{
        right: 120px;
    }
    
}


@media only screen and (max-width: 650px) {
    .react-chatbot-kit-chat-container{
        width: 400px;
        position: relative;
        left: 11rem;
        bottom: 34.3em;
        zoom: .85;

    }

    .react-chatbot-kit-chat-bot-message{
        right: 120px;
    }
    
}

@media only screen and (max-width: 590px) {
    .react-chatbot-kit-chat-container{
        align-self: center;
        position: relative;
        left: 7rem;
        bottom: 34.3em;
        zoom: .85;
    }

    .react-chatbot-kit-chat-bot-message{
        right: 120px;
    }
    
    
  }

@media only screen and (max-width: 500px) {
    .react-chatbot-kit-chat-container{
        align-self: center;
        position: relative;
        left: 7rem;
        bottom: 34.3em;
        zoom: .85;
    }

    .react-chatbot-kit-chat-bot-message{
        right: 120px;
    }
    
    
  }

  